<div class ="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
      <h2>Resend confirmation instructions</h2>
      <div class="form-group mt-4">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, class:"form-control mb-3", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <div class="actions">
            <%= f.submit "Resend confirmation instructions" ,class: "btn btn-success btn-block  mb-3" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>

      </div>
  </div>
</div>

