<h1 class="text-center">Votre profil</h1>

<div class="d-flex p-2 justify-content-sm-center">
<% if current_user.avatar.attached?%>
<%= image_tag current_user.avatar, width: "20%"%>
<% end%>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">Adresse Email</th>
      <th scope="col">Nom/Prénom</th>
      <th scope="col">Adresse</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td><%= current_user.email %></td>
      <td><%= current_user.lastname %> <%= current_user.firstname %></td>
      <td><%= current_user.adress %></td>
    </tr>
  </tbody>
</table>


<div class="d-flex p-2 justify-content-sm-center">
<button type="button" class="btn btn-outline-primary"> <%= link_to 'Editer mon profil', edit_user_registration_path, :class => "text-decoration-none" %></button>

</div>
