<% if user_signed_in? %>

<h1 class="text-center">Votre profil</h1>

<div class="d-flex p-2 justify-content-sm-center">
<% if current_user.avatar.attached?%>
<%= image_tag current_user.avatar, width: "20%"%>
<% end%>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">Adresse Email</th>
      <th scope="col">Nom/Prénom</th>
      <th scope="col">Adresse</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td><%= current_user.email %></td>
      <td><%= current_user.lastname %> <%= current_user.firstname %></td>
      <td><%= current_user.adress %></td>
    </tr>
  </tbody>
</table>


<div class="d-flex p-2 justify-content-sm-center">
<button type="button" class="btn btn-outline-primary"> <%= link_to 'Editer mon profil', edit_user_registration_path, :class => "text-decoration-none" %></button>

</div>
<!---->

<h3 class="text-center mt-5 ml-3"> Journée <%=params[:id]%></h3>

<div class="card w-50 mx-auto mb-5">
  <div class="card-header">
     Entrez votre adresse et sélectionnez un jour de match 
  </div>
  <div class="card-body">

    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle ml-5 dropright" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true" data-display="static">
        Jour de match
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
            <div class="row">
                <div class="col-sm-2">
                    <ul class="multi-column-dropdown block">
                        <li><%= link_to  "Journée #{1}", secret_path(id:1)%></li>
                        <li><%= link_to  "Journée #{2}", secret_path(id:2)%></li>
                        <li><%= link_to  "Journée #{3}", secret_path(id:3)%></li>
                        <li class="divider"></li>
                        <li><%= link_to  "Journée #{4}", secret_path(id:4)%></li>
                        <li class="divider"></li>
                        <li><%= link_to  "Journée #{5}", secret_path(id:5)%></li>
                        <li><%= link_to  "Journée #{6}", secret_path(id:6)%></li>
                        <li><%= link_to  "Journée #{7}", secret_path(id:7)%></li>
                        <li><%= link_to  "Journée #{8}", secret_path(id:8)%></li>
                    </ul>
                    </div>
                    <div class="col-sm-2">
                    <ul class="multi-column-dropdown">
                        <li><%= link_to  "Journée #{9}", secret_path(id:9)%></li>
                        <li><%= link_to  "Journée #{10}", secret_path(id:10)%></li>
                        <li><%= link_to  "Journée #{11}", secret_path(id:11)%></li>
                        <li class="divider"></li>
                        <li><%= link_to  "Journée #{12}", secret_path(id:12)%></li>
                        <li class="divider"></li>
                        <li id ="matchday"><%= link_to  "Journée #{13}", secret_path(id:13)%></li>
                        <li><%= link_to  "Journée #{14}", secret_path(id:14)%></li>
                        <li><%= link_to  "Journée #{15}", secret_path(id:15)%></li>
                        <li><%= link_to  "Journée #{16}", secret_path(id:16)%></li>
                    </ul>
                    </div>
                    <div class="col-sm-2">
                    <ul class="multi-column-dropdown">
                        <li><%= link_to  "Journée #{17}", secret_path(id:17)%></li>
                        <li><%= link_to  "Journée #{18}", secret_path(id:18)%></li>
                        <li><%= link_to  "Journée #{19}", secret_path(id:19)%></li>
                        <li class="divider"></li>
                        <li><%= link_to  "Journée #{20}", secret_path(id:20)%></li>
                        <li class="divider"></li>
                        <li><%= link_to  "Journée #{21}", secret_path(id:21)%></li>
                        <li><%= link_to  "Journée #{22}", secret_path(id:22)%></li>
                        <li><%= link_to  "Journée #{23}", secret_path(id:23)%></li>
                        <li><%= link_to  "Journée #{24}", secret_path(id:24)%></li>
                    </ul>
                    </div>
                <div class="col-sm-2">
                    <ul class="multi-column-dropdown">
                        <li><%= link_to  "Journée #{25}", secret_path(id:25)%></li>
                        <li><%= link_to  "Journée #{26}", secret_path(id:26)%></li>
                        <li><%= link_to  "Journée #{27}", secret_path(id:27)%></li>
                        <li class="divider"></li>
                        <li><%= link_to  "Journée #{28}", secret_path(id:28)%></li>
                        <li class="divider"></li>
                        <li><%= link_to  "Journée #{29}", secret_path(id:29)%></li>
                        <li><%= link_to  "Journée #{30}", secret_path(id:30)%></li>
                        <li><%= link_to  "Journée #{31}", secret_path(id:31)%></li>
                        <li><%= link_to  "Journée #{32}", secret_path(id:32)%></li>
                    </ul>
                    </div>
                    <div class="col-sm-2">
                    <ul class="multi-column-dropdown">
                        <li><%= link_to  "Journée #{33}", secret_path(id:33)%></li>
                        <li><%= link_to  "Journée #{34}", secret_path(id:34)%></li>
                        <li><%= link_to  "Journée #{35}", secret_path(id:35)%></li>
                        <li class="divider"></li>
                        <li><%= link_to  "Journée #{36}", secret_path(id:36)%></li>
                        <li class="divider"></li>
                        <li><%= link_to  "Journée #{37}", secret_path(id:37)%></li>
                        <li><%= link_to  "Journée #{38}", secret_path(id:38)%></li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!---->

<div class ="container">
<input
      value = "<%=current_user.adress%>"
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
<div id="map" class="mx-auto input-group-text" style="width: 100%"></div></div>
</div>


<!---->
<%@matchs["matches"].each do |m|%>
    
<%@stades << Geocoder.coordinates(@teams_stades[m["homeTeam"]["name"].to_sym])%>


<%end%>


<script>
var user_address = document.querySelector("table").children[1].firstElementChild.children[3].textContent
</script>

<%@user%>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_maps_api_key']%>&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      #map {
        height: 500px;
        width: 60%;
      }
    </style>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_maps_api_key']%>&callback=initAutocomplete&libraries=places&v=weekly"
      defer
    ></script>



<script>
console.log("salut")
  var stade_matchs= <%=@stades%>
function initAutocomplete() {
    var location = { lat: 47.32639637059186, lng: 2.3237934192128806 };

        const map = new google.maps.Map(document.getElementById("map"), {
          center: location,
          zoom: 5,
          mapTypeId: "roadmap",
        });
        // Create the search box and link it to the UI element.
        const input = document.getElementById("pac-input");
        const searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        // Bias the SearchBox results towards current map's viewport.
        map.addListener("bounds_changed", () => {
          searchBox.setBounds(map.getBounds());
        });
        let markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener("places_changed", () => {
          const places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }
          // Clear out the old markers.
          markers.forEach((marker) => {
            marker.setMap(null);
          });
          markers = [];
          // For each place, get the icon, name and location.
          const bounds = new google.maps.LatLngBounds();
          places.forEach((place) => {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            ////////
            const image = {
            url: "<%=image_url("stadium.png")%>",
            //size: new google.maps.Size(20, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(5, 5),
            };
            
            const shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: "poly",
            };
            ///////

        for (let i = 0; i < stade_matchs.length; i++) {
        const stades = stade_matchs[i];
        new google.maps.Marker({
            position: { lat: stades[0], lng: stades[1] },
            map,
            icon: image,
            shape: shape,

        });
        }
            const icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25),
            };
            // Create a marker for each place.
            markers.push(
              new google.maps.Marker({
                map,
                icon,
                title: place.name,
                position: place.geometry.location,
              })
            );
            //my marker
            
            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });

}
</script>

<%end%>