
<div class ="container">
<h2>Les matches</h2>


<table class ="table table-bordered shadow p-3 mb-5 bg-white rounded">
<thead>
    <tr class="text-center"> 
            <th scope="col">Journée</th>
        <th scope="col">Date</th>
        <th scope="col">Statut</th>
        <th scope="col">Domicile</th>
        <th scope="col">Score</th>
        <th scope="col">Extérieur</th>
    </tr>
</thead>
<tbody style="text-align:center"> 

    <%@matchs["matches"].each do |m|%>
        <tr>
            <td><%=m["matchday"]%></td>
            <td><%=m["utcDate"]%></td>
            <td><%=m["status"]%></td>

            <td><%=m["homeTeam"]["name"]%></td>
            <td><%=m["awayTeam"]["name"]%></td>
        </tr>
    <%end%>
 
</table>

</div>
<!--
['matches'][0]['utcDate'].split("T")[0]

-->