
<div class ="container">
<br>
<h1 style="text-align:center">Les matches</h1>
<br>


<table class ="table table-bordered shadow p-3 mb-5 bg-white rounded">
<thead style="text-align:center">
    <tr class="text-center"> 
            <th scope="col">Journée</th>
        <th scope="col">Date</th>
        <th scope="col">Statut</th>
        <th scope="col">Domicile</th>
        <th scope="col">Score</th>
        <th scope="col">Extérieur</th>
    </tr>
</thead>
<tbody style="text-align:center"> 
 
    <%binding.pry%>
    <%@matchs["matchday"]["matches"].each do |m|%>
        <tr>
            <td><%=m["matchday"]%></td>
            <td><%=m["utcDate"]%></td>
            <td><%=m["status"]%></td>
            <td><%=m["homeTeam"]["name"]%></td>
            <td>
            <%= "#{m["score"]["fullTime"]["homeTeam"]} / #{m["score"]["fullTime"]["awayTeam"]}"%>
            </td>
            <td><%=m["awayTeam"]["name"]%></td>
        </tr>
    <%end%>
    <%binding.pry%>
 
</table>

</div>