<div class="container"> 
        <h2 class ="m-2"><%=@teams_show["name"]%></h1>

    <div class="row mx-0">
        <div class ="col-sm-4 d-flex justify-content-center mb-2">
        <%=image_tag @teams_show["crestUrl"] , size: "300x300"%>
        </div>
    <div class="col-sm-8">
        <div class="card rounded-0 box-shadow">
            <div class ="card-body">
                <div class="row">
                    <div class="col-md-6 my-1 ng-star-inserted">
                        <div class="card rounded-0">
                            <div class="card-header bg-lightgrey" style="padding: 0.3rem;">Name</div>
                            <div class="card-body" style="padding: 0.4rem"><%=@teams_show["name"]%></div>
                        </div>
                    
                    </div>
                    <div class="col-md-6 my-1 ng-star-inserted">
                        <div class="card rounded-0">
                            <div class="card-header bg-lightgrey" style="padding: 0.3rem;">Phone</div>
                            <div class="card-body" style="padding: 0.4rem"><%=@teams_show["phone"]%></div>
                        </div>
                    </div>
                    <div class="col-md-6 my-1 ng-star-inserted">
                        <div class="card rounded-0">
                            <div class="card-header bg-lightgrey" style="padding: 0.3rem;">Website</div>
                            <div class="card-body" style="padding: 0.4rem"><%=@teams_show["website"]%></div>
                        </div>
                    </div>
                    <div class="col-md-6 my-1 ng-star-inserted">
                        <div class="card rounded-0">
                            <div class="card-header bg-lightgrey" style="padding: 0.3rem;">Short Name</div>
                            <div class="card-body" style="padding: 0.4rem"><%=@teams_show["shortName"]%></div>
                        </div>
                    </div>
                    <div class="col-md-6 my-1 ng-star-inserted">
                        <div class="card rounded-0">
                            <div class="card-header bg-lightgrey" style="padding: 0.3rem;">Address</div>
                            <div class="card-body" style="padding: 0.4rem"><%=@teams_show["address"]%></div>
                        </div>
                    </div>
                    <div class="col-md-6 my-1 ng-star-inserted">
                        <div class="card rounded-0">
                            <div class="card-header bg-lightgrey" style="padding: 0.3rem;">Email</div>
                            <div class="card-body" style="padding: 0.4rem"><%=@teams_show["email"]%></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <h5 class="m-2">Active Competitions</h5>
    <div class="d-flex flex-column align-items-center mb-4">
        <table class ="table table-bordered shadow p-3 mb-5 bg-white rounded">
            <thead>
                <tr class ="text-center">
                    <th scope="col">Competition</th>
                    <th scope="col">Country</th>
                    <th scope="col">Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%=@teams_show["activeCompetitions"][0]["name"]%></td>
                    <td><%=@teams_show["activeCompetitions"][0]["area"]["name"]%></td>
                    <td><%=@teams_show["activeCompetitions"][0]["code"]%></td>
                </tr>
            </tbody>

        </table>

    </div>

</div>

<div id="map" class="mx-auto" style="width: 100%"></div>

<!--lat: <%=@new_address[:latitude]%>, lng: <%=@new_address[:longitude]%> -->




    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.google_maps_api_key%>&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      #map {
        height: 500px;
        width: 60%;
      }
    </style>

    <script>

function initMap() {
var location = { lat: <%=@new_address[:latitude]%>, lng: <%=@new_address[:longitude]%> };
  
   if(location.lat ==0 && location.lng ==0){
    var location = { lat: 0, lng: 0 };

   }


  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 14,
    center: location,
  });
  const marker = new google.maps.Marker({
    position: location,
    map: map

  });
   marker.addListener("click", () => {
open("<%=@teams_show["website"]%>");
  });
}
    </script>

<!--
    @teams["name"]
    @teams["phone"]
    @teams["website"]
    @teams["shortName"]
    @teams["email"]
    @teams["address"]
    @teams["crestUrl"]
    @teams["activeCompetitions"][0]["name"]
    @teams["activeCompetitions"][0]["code"]
    @teams["activeCompetitions"][0]["area"]["name"]
-->