<div class ="container">
<h2>Les teams</h2>

<p id="adresse"></p>

<table class ="table table-bordered shadow p-3 mb-5 bg-white rounded">
<thead>
    <tr> 
        <td>Team</td>
        <td>Official Name</td>
        <td>Founded</td>
        <td>Phone</td>
        <td>Adress</td>
        <td><td>
    </tr>
</thead>
<tbody>        
    <%@teams.each do |team|%>
        <tr>
            <td>
                <%=image_tag team["crestUrl"] , size: "45x45"%>
                <%=team["shortName"]%>
            </td>
            <td><%=team["name"]%></td>
            <td><%=team["founded"]%></td>
            <td><%=team["phone"]%></td>
            <td><%=team["address"]%></td>
            <td><a href="#" class="btn btn-primary">Voir le stade</a></td>
        </tr>
    <%end%>

</table>

</div>

<script>
var addresse_selected
var address = []
a = document.querySelectorAll(".btn.btn-primary")
a.forEach(x => {

    address.push(x.parentElement.parentElement.children[4].textContent) //tous les adresses
    x.addEventListener("click", function() {
            addresse_selected = x.parentElement.parentElement.children[4].textContent
            document.querySelector("#adresse").innerHTML = this.parentElement.parentElement.children[4].textContent
        }

    )
console.log(address)
console.log(addresse_selected)
})


    //x.parentElement.parentElement.children[4].textContent
</script>
